{% extends 'base.html' %}

{% block title %}
Details entry
{% endblock %}

{% block content %}
    <a href="{{ url_for('home') }}">Home</a>
    <h1>Author Details</h1>
    
    <form method="POST" action="{{ url_for('author_details') }}">
        <input type="text" name="name" placeholder="Name" required><br>
        <input type="text" name="contact_no" placeholder="Contact Number" required><br>
        <input type="text" name="address" placeholder="Address" required><br>
        <input type="text" name="linkedin" placeholder="LinkedIn" required><br>
        <input type="text" name="google_plus" placeholder="Google+" required><br>
        <input type="submit" value="Submit">
    </form>
    <p><a href="{{ url_for('logout') }}">Logout</a></p>

{%endblock%}